body{
    background:cadetblue;
}
.All{
    background-color: cadetblue;
    border: 2px solid white;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    margin-left: 350px;
}
.right{
    background-color: orange;
    margin-left: 250px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
}